<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="FurnitureStore" connectionString="Data Source = DESKTOP-310Q9I7\SQLEXPRESS;Initial Catalog = FurnitureStore;Integrated Security=True;"/>
  </connectionStrings>
</configuration>